export(attachSequencingDepth)
export(clrTransform)
export(compareTaxonomies)
export(computeDissimilarity)
export(contentWorkDir)
export(designFamily)
export(designLink)
export(designResponses)
export(designSpec)
export(designStructures)
export(filterByPrevalence)
export(filterByTaxon)
export(isRankAbstention)
export(isRankPlaceholder)
export(mapSubsets)
export(mlPredictors)
export(phyloWorkDir)
export(preflightResponses)
export(readPhyloDist)
export(resolveResponseSource)
export(resolveSubsets)
export(responseFamilyEngine)
export(responseSpec)
export(responsesForSubset)
export(saveResult)
export(standardCoefColumns)
export(standardGlanceColumns)
export(subsetPhyloDist)
export(summarizeExcluded)
export(supportedFamilies)
export(validatePsRaw)
export(validateResultTables)
